* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: teal;
}

.appContainer {
    background: white;
    width: 90%;
    max-width: 594px;
    margin: 60px auto 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.topbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.countdown {
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}

.appContainer h1 {
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.quizContainer {
    padding: 20px 0;
}

.quizContainer h2 {
    font-size: 18px;
}

.button {
    background: skyblue;
    color:black;
    font-size: 14px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover:not([disabled]) {
    background-color: black;
    color: white;
}

.button:disabled {
    cursor: no-drop;
}

.controlsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nextButton {
    background: mediumturquoise;
    font-size: 18px;
    width: 120px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#startButton {
    background: mediumturquoise;
    font-size: 18px;
    width: 120px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
}

#highScoresButton {
    background: mediumturquoise;
    font-size: 18px;
    width: 120px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background: green
}

.incorrect {
    background: red
}